# Created by .ignore support plugin (hsz.mobi)
### Yii template
web/assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/
runtime/*
runtime/debug/*
node_modules/*

### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion

*.iml

## Directory-based project format:
.idea/
.vscode/

# if you remove the above rule, at least ignore the following:

# User-specific stuff:
# .idea/workspace.xml
# .idea/tasks.xml
# .idea/dictionaries

# Sensitive or high-churn files:
# .idea/dataSources.ids
# .idea/dataSources.xml
# .idea/sqlDataSources.xml
# .idea/dynamic.xml
# .idea/uiDesigner.xml

# Gradle:
# .idea/gradle.xml
# .idea/libraries

# Sonarqube:
.sonar/

# Mongo Explorer plugin:
# .idea/mongoSettings.xml

## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties


#config/params.php

# Backup files
*~

# Archivos de configuración local
config/console.php
config/db.php
config/params.php
config/web.php
config/test.php
config/test_db.php
test/functional/_config.php
test/unit/_config.php
modules/ticket/_resources/
nbproject

# Upload files
modules/westnet/notifications/_files
/tests/acceptance/CredentialCest.php
/.idea/
/vendor/
web/index.php
/tests/_helpers/UnitTester.php
/tests/_support/FunctionalTester.php
/tests/_support/UnitTester.php
/tests/_support/_generated/FunctionalTesterActions.php
/tests/_support/_generated/UnitTesterActions.php
/mysql/
/westnet/mysql/
web/direct_debit/
web/direct_debit_import/
web/firstdataExports/
web/firstdataImports/

# @emi ignores
# docker
gestion_westnet
docker_sample/web-server/gestion.conf
docker_gestion_*

# @gabi ignores
gestion-data
composer.lock