<?php
$params = require __DIR__ . '/params.php';
$db = require __DIR__ . '/test_db.php';

\Yii::$container->set('yii\widgets\LinkPager', [
    'firstPageLabel' => "<span class='glyphicon glyphicon-fast-backward'></span>",
    'prevPageLabel' => "<span class='glyphicon glyphicon-chevron-left'></span>",
    'nextPageLabel' => "<span class='glyphicon glyphicon-chevron-right'></span>",
    'lastPageLabel' => "<span class='glyphicon glyphicon-fast-forward'></span>",
]);


$config = [
    'id' => 'basic-tests',
    'basePath' => dirname(__DIR__),
    'language' => 'es-AR',
    'bootstrap' => ['log'],
    'extensions' => require(__DIR__ . '/../vendor/yiisoft/extensions.php'),
    'components' => [
        'assetManager' => [
            'bundles' => [
                'yii\web\JqueryAsset' => [
                    'js' => [
                        YII_ENV_PROD ? 'jquery.min.js' : 'jquery.js'
                    ]
                ],
                'yii\bootstrap\BootstrapAsset' => [
                    'css' => [
                        YII_ENV_PROD ? 'css/bootstrap.min.css' : 'css/bootstrap.css',
                    ]
                ],
                'yii\bootstrap\BootstrapPluginAsset' => [
                    'js' => [
                        YII_ENV_PROD ? 'js/bootstrap.min.js' : 'js/bootstrap.js',
                    ]
                ]
            ],
        ],
        'assetManager' => [
            'linkAssets' => true,
        ],
        'cache' => [
            'class' => 'yii\caching\FileCache',
        ],
        'user' => [
            'class' => 'webvimark\modules\UserManagement\components\UserConfig',
            // Comment this if you don't want to record user logins
            'on afterLogin' => function($event) {
                if(app\modules\westnet\ecopagos\frontend\helpers\UserHelper::isCashier()){
                    header('Location: '. \yii\helpers\Url::to(['/westnet/ecopagos/frontend/site/index', true]));
                    die();
                }
                \webvimark\modules\UserManagement\models\UserVisitLog::newVisitor($event->identity->id);
            }
        ],
	'errorHandler' => [
            'errorAction' => 'site/error',
        ],
	'log' => [
            'traceLevel' => YII_DEBUG ? 3 : 0,
            'targets' => [
                [
                    'class' => 'yii\log\FileTarget',
                    'levels' => ['error', 'warning'],
                ],
            ],
        ],
        'mailer' => [
            'useFileTransport' => true,
        ],
        'assetManager' => [
            'basePath' => __DIR__ . '/../web/assets',
        ],
	'i18n' => [
            'translations' => [
                'app' => [
                    'class' => 'yii\i18n\PhpMessageSource',
                ],
                'help' => [
                    'class' => 'yii\i18n\PhpMessageSource',
                ],
                'import' => [
                    'class' => 'yii\i18n\PhpMessageSource',
                ],
                'afip' => [
                    'class' => 'yii\i18n\PhpMessageSource',
                ],
                'accounting' => [
                    'class' => 'yii\i18n\PhpMessageSource',
                ],
                'paycheck' => [
                    'class' => 'yii\i18n\PhpMessageSource',
                ],
                'westnet' => [
                    'class' => 'yii\i18n\PhpMessageSource',
                ],
                'ticket' => [
                    'class' => 'yii\i18n\PhpMessageSource',
                ],
                'partner' => [
                    'class' => 'yii\i18n\PhpMessageSource',
                ],
                'report' => [
                    'class' => 'yii\i18n\PhpMessageSource',
                ],
                'teleprom' => [
                    'class' => 'yii\i18n\PhpMessageSource',
                ],
                'modules/user-management/*' => [
                    'class' => 'yii\i18n\PhpMessageSource',
                    'sourceLanguage' => 'en',
                    'fileMap' => [
                        'modules/user-management/back' => 'modules/user-management/back.php',
                        'modules/user-management/front' => 'modules/user-management/front.php',
                    ],
                ],
            ],
        ],
        'formatter' => [
            'class' => 'yii\i18n\Formatter',
            'dateFormat' => 'php:d-m-Y',
            'datetimeFormat' => 'php:d-m-Y H:i:s',
            'timeFormat' => 'php:H:i:s',
            'decimalSeparator' => ',',
            'thousandSeparator' => '.',
            'currencyCode' => 'ARS',
        ],
        'request' => [
            'cookieValidationKey' => 'test',
            'enableCsrfValidation' => false,
            // but if you absolutely need it set cookie domain to localhost
            /*
            'csrfCookie' => [
                'domain' => 'localhost',
            ],
            */
        ],
	'response' => [
            'formatters' => [
                'pdf' => [
                    'class' => 'boundstate\htmlconverter\PdfResponseFormatter',
                ],
            ]
        ],
    ],
    'modules' => [
        'sale' => [
            'class' => 'app\modules\sale\SaleModule'
        ],
        'zone' => [
            'class' => 'app\modules\zone\ZoneModule'
        ],
        'gridview' => [
            'class' => '\kartik\grid\Module',
        ],
        'import' => [
            'class' => 'app\modules\import\ImportModule',
        ],
        'checkout' => [
            'class' => 'app\modules\checkout\CheckoutModule',
        ],
        'provider' => [
            'class' => 'app\modules\provider\ProviderModule',
        ],
        'backup' => [
            'class' => 'app\modules\backup\BackupModule',
        ],
        'invoice' => [
            'class' => 'app\modules\invoice\InvoiceModule',
        ],
        'media' => [
            'class' => 'app\modules\media\MediaModule',
        ],
        'accounting' => [
            'class' => 'app\modules\accounting\AccountingModule',
        ],
        'westnet' => [
            'class' => 'app\modules\westnet\WestnetModule',
        ],
        'afip' => [
            'class' => 'app\modules\afip\AfipModule',
        ],
        'paycheck' => [
            'class' => 'app\modules\paycheck\PaycheckModule',
        ],
        'ecopagos' => [
            'class' => 'app\modules\westnet\ecopagos\EcopagosModule',
        ],
        'partner' => [
            'class' => 'app\modules\partner\PartnerModule',
        ],
        'reports' => [
            'class' => 'app\modules\westnet\reports\ReportsModule',
        ],
        'user-management' => [
            'class' => 'webvimark\modules\UserManagement\UserManagementModule',
            // Here you can set your handler to change layout for any controller or action
            // Tip: you can use this event in any module
            'on beforeAction' => function(yii\base\ActionEvent $event) {
                if ($event->action->uniqueId == 'user-management/auth/login') {
                    $event->action->controller->layout = '/login';
                };
            },
        ],
        'config' => [
            'class' => 'app\modules\config\ConfigModule'
        ],
        'agenda' => [
            'class' => 'app\modules\agenda\AgendaModule',
        ],
        'sequre' => [
            'class' => 'app\modules\westnet\sequre\SequreModule',
        ],
        'ticket' => [
            'class' => 'app\modules\ticket\TicketModule',
        ],
        'mailing' => [
            'class' => 'quoma\modules\mailing\MailingModule',
        ],
        'teleprom' => [
            'class' => 'app\modules\westnet\teleprom\TelepromModule',
        ],
    ],
    'aliases' => [
        '@bower' => '@vendor/bower-asset',
        '@npm'   => '@vendor/npm-asset',
    ],
    'params' => $params,
];

$config['components'] = yii\helpers\ArrayHelper::merge(
    $config['components'], $db
);

return $config;
