<?php

return [
    'db' => [
        'class' => 'yii\db\Connection',
        'dsn' => 'mysql:host=localhost;dbname=test',
        'username' => 'root',
        'password' => 'secret',
        'charset' => 'utf8',
    ],
    'dbafip' => [
        'class' => 'yii\db\Connection',
        'dsn' => 'mysql:host=localhost;dbname=test_afip',
        'username' => 'root',
        'password' => 'secret',
        'charset' => 'utf8',
    ],
    'dbconfig' => [
        'class' => 'yii\db\Connection',
        'dsn' => 'mysql:host=localhost;dbname=test_config',
        'username' => 'root',
        'password' => 'secret',
        'charset' => 'utf8',
    ],
    'dbagenda' => [
        'class' => 'yii\db\Connection',
        'dsn' => 'mysql:host=localhost;dbname=test_agenda',
        'username' => 'root',
        'password' => 'secret',
        'charset' => 'utf8',
    ],
    'dbticket' => [
        'class' => 'yii\db\Connection',
        'dsn' => 'mysql:host=localhost;dbname=test_ticket',
        'username' => 'root',
        'password' => 'secret',
        'charset' => 'utf8',
    ],
    'dbecopago' => [
        'class' => 'yii\db\Connection',
        'dsn' => 'mysql:host=localhost;dbname=test_ecopago',
        'username' => 'root',
        'password' => 'secret',
        'charset' => 'utf8',
    ],a
    'dbnotifications' => [
        'class' => 'yii\db\Connection',
        'dsn' => 'mysql:host=localhost;dbname=test_notifications',
        'username' => 'root',
        'password' => 'secret',
        'charset' => 'utf8',
    ],
    'dblog' => [
        'class' => 'yii\db\Connection',
        'dsn' => 'mysql:host=localhost;dbname=test_log',
        'username' => 'root',
        'password' => 'secret',
        'charset' => 'utf8',
    ],
    'dbmedia' => [
        'class' => 'yii\db\Connection',
        'dsn' => 'mysql:host=localhost;dbname=test_media',
        'username' => 'root',
        'password' => 'secret',
        'charset' => 'utf8',
    ],
    'dbteleprom' => [
        'class' => 'yii\db\Connection',
        'dsn' => 'mysql:host=localhost;dbname=test_teleprom',
        'username' => 'root',
        'password' => 'secret',
        'charset' => 'utf8',
    ]
];